# files

*.pgm
*.png
*.jpg
*.task
*.pt
*.pth
*.swp
*.swo
*.mp4
*.pth
tags

tests/*.mp4
scripts/exp*                       

# soft link
codes

# folder
.idea/
__pycache__/
src/
tensorboard/
models/
video/
tests/puppet
release/
dataset/


# temp file.
results
error.txt


